body{
	font-family: Arial, sans-serif;
 	padding: 0;
	margin: 0;
	background-color: #d9d2e9;

}
	 
div{
	box-sizing: border-box;
}

header{
	background-color: #1aecff; no-repeat center top / cover;
	height: 100px;
	margin: 0 0;
    padding: 0;
    
   position: flex;
    
}

	
.logo{
	margin-right: 100px;
    float: left;  
    width:100px;
    height:100px;
    padding-left: 200px;
}
nav{
	float: right;
}

dws-menu {
	margin: 0;
	padding: 0;
	
    width: 100px;
}

.dws-menu li{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}
.dws-menu > ul{
    display: block;
    justify-content: left;
    width: 100px;
}
.dws-menu > ul li a{
     display: block;
     background: red;
     padding: 20px 20px 20px 20px;
     font-size: 20px;
     color: green;
     text-decoration: none;
     text-transform: uppercase;
}

.dws-menu li p{
    display: block; position: relative; 
}

.dws-menu li p:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; }

.dws-menu li p:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(icon-path); opacity: 0; }

.dws-menu li p:hover:before,
.dws-menu li p:hover:after { opacity: 1; }

.button{
  color: white; /* цвет текста */
  border: 1px; 
 
  border-radius: 50% 1px;
  transition: 0.2s;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(184,135,231); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
.button:hover { background: rgb(180,167,214); } /* при наведении курсора мышки */
.button:active { background: rgb(217,210,233); } /* при нажатии */

section{
    margin: 0;
    padding: 0;
    height: 900px;
   
    text-decoration: none;
	text-transform: uppercase;
    
}   
.abaut{
    margin-left: auto;
    margin-right: auto;

    width: 6em
}
.abaut a{
        position: center;
        }


footer{
	margin: 0;
	padding: 0;
	float: right;
	width: 300px;
    height: 300px; 
    text-decoration: none;
	text-transform: uppercase;
}

 
.alert {
	margin: 0 0;
	border-radius: 8px;
	width: 300px;
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 5px;
}


.alert1 {
	border-radius: 8px;
	width: 300px;
    padding: 10px;
    background-color: green; /* green */
    color: white;
    margin-bottom: 5px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
 
